body{
    font-family: 'Helvetica', 'Comic Sans MS';
}
.box {
    display: flex;
    justify-content: space-between;
}
img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.box img {
    width: 45%;
    display: flex;
}
.confound_summary {
    border-collapse: collapse;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.confound_summary table, th, td {
    border: 1px solid black;
}
.confound_summary td, th {
    font-size: 1.5em;
    width: 11em;
    padding-top: 0.3em;
}
.confound_summary td {
    font-weight: bolder;
    text-align: center;
}
.confound_summary .yes {
    background-color: #86C98A;
}
.confound_summary .no {
    background-color: rgb(221, 118, 117);
}
.confound_summary .na {
    background-color: rgb(175, 168, 168); 
}
 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
  .tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
#group img {
    width: 60%;
}