{% with cell_dict = {'\u2713': 'class=yes', '\u2717': 'class=no','N/A': 'class=na'} %}

<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fmridenoise report</title>
<style type="text/css">
{{css}}
</style>
</head>
<body>
    <script>
        {{ script }}
    </script>
    <div class="tab">
        <button class="tablinks active" onclick="showAll(event)">Show All</button>
        <button class="tablinks" onclick="openCity(event, 'group')">Group summary</button>
        {% for pipeline in pipelines %}
        <button class="tablinks" onclick="openCity(event, '{{ pipeline.name.replace }}')">{{ pipeline.name.replace('_', '+') }}</button>
        {% endfor %}
    </div>
    <div id="group" class="tabcontent">
        <h1>Group Summary</h1>
<!--         <div class="box"> -->
            <img src={{ group.img.Edges_Density }}/>
            <img src={{ group.img.Edges_Density_No_High_Motion}}/></br>
<!--         </div> -->
        <img src={{ group.img.Pipelines_Distance_Dependency }}/></br>
        <img src={{ group.img.Pipelines_FC_FC_Pearson}}/></br>  
        <img src={{ group.img.Motion_Out }}/>
    </div>
        <!-- <h1>Pipeline Summary</h1> -->
    {% for pipeline in pipelines %}
    <div id="{{ pipeline.name }}" class="tabcontent">
        <h2>{{ pipeline.name.replace('_', '+') }}</h2><br/>
        <p>{{ pipeline.description }}</p>
        <table class="confound_summary">
            <tr>
                <th>Confound</th>
                <th>Original</th> 
                <th>Temporary derivative</th>
                <th>Quadratic terms</th>
            </tr>
            {% for confound in pipeline.summary %}
            <tr>
                {% for value in confound.values() %}
                <td {{ cell_dict[value] if value in cell_dict.keys() else "" }}>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br/>
        <img src={{ pipeline.corelation_matrix_all }} /><br/>
        <img src={{ pipeline.corelation_matrix_no_high_motion }} /><br/>
    </div>
    {% endfor %}
</body>
{% endwith %}